/* Required for full background image */
html,
body,
#top,
#intro
{
    height: 100%;
}

#intro
{
    background: url("../img/Cantonese.jpeg")no-repeat center center fixed;
    -webkit-background-size: cover; /* 针对Chrome, Safari, Edge等浏览器 */
    -moz-background-size: cover;    /* 针对Firefox浏览器 */
    -o-background-size: cover;      /* 针对Operallq */
    background-size: cover;         /* 通用 */
}

#chicken
{
  background: url("../img/baiqieji.webp")no-repeat center center fixed;
  height:100%;
  -webkit-background-size: cover; /* 针对Chrome, Safari, Edge等浏览器 */
    -moz-background-size: cover;    /* 针对Firefox浏览器 */
    -o-background-size: cover;      /* 针对Operallq */
    background-size: cover;         /* 通用 */
}

#yjchicken
{
  background: url("https://img1.baidu.com/it/u=2105619411,2790459875&fm=26&fmt=auto&gp=0.jpg")no-repeat center center fixed;
  height:100%;
  -webkit-background-size: cover; /* 针对Chrome, Safari, Edge等浏览器 */
    -moz-background-size: cover;    /* 针对Firefox浏览器 */
    -o-background-size: cover;      /* 针对Operallq */
    background-size: cover;         /* 通用 */
}

#niurou
{
  background: url("../img/niurou.jpg")no-repeat center center fixed;
  height:100%;
  -webkit-background-size: cover; /* 针对Chrome, Safari, Edge等浏览器 */
    -moz-background-size: cover;    /* 针对Firefox浏览器 */
    -o-background-size: cover;      /* 针对Operallq */
    background-size: cover;         /* 通用 */
}

#niurouhotpot
{
  background: url("../img/niurou/hotpot.webp")no-repeat center center fixed;
  height:100%;
  -webkit-background-size: cover; /* 针对Chrome, Safari, Edge等浏览器 */
    -moz-background-size: cover;    /* 针对Firefox浏览器 */
    -o-background-size: cover;      /* 针对Operallq */
    background-size: cover;         /* 通用 */
}


.iimg
{
  border-radius: 15px;
  opacity: 0.8;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}

.top-nav-collapse ,.page-footer{
  background-color: #b25d60 !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #b25d60 !important;
  }
}

.rgba-gradient {
  background: rgba(35, 7, 77, 0.6);  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, rgba(204, 83, 51, 0.6), rgba(35, 7, 77, 0.6));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgba(204, 83, 51, 0.6), rgba(35, 7, 77, 0.6)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.streak.streak-photo {
  background-attachment: fixed;
}